body {
  background: #232526;
  background: -webkit-linear-gradient(to bottom, #232526 , #363840);
  background: linear-gradient(to bottom, #232526 , #363840);

  color: rgb(220,220,220);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content:center;
}

li > label {
  width: 120px;
}

li > input {
  width: 50%;
}

a > img {
  background-color: white;
  border-radius: 50%;
  margin: 1px;
  padding: 1px;
  opacity: 0.5;
}

a > img:hover{
  transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
  opacity: 1;
}

#fluidSimulator {
  width: 80%;
  height: 60%;
  margin: 0 auto;
}
